@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    bottom: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
    bottom: 0;

}

a {
    color: inherit;
}

/* scroll-------------------------------- */
::-webkit-scrollbar-track {
    background-color: #d4d4d4cb;
}

/*Fundo que corre */
::-webkit-scrollbar {
    width: 9px;
    background: #e5e5e6;
}

/* Linha que desce */
::-webkit-scrollbar-thumb {
    background: #194392;
    border-radius: 15px;
}

/* scroll--------------------------------*/

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
    font-family: "quicksand", "poppins", sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: #fdfdfd;
    color: #304047;
}

.h1-titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    text-align: center;
}
.h1-titulo-02{
    letter-spacing: 5px;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 999px) {
 nav .btn{
    display: none !important;
}
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    height: 90px;
}

.nav-list {
    font-size: 14px;
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-list li {
    margin-left: 15px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    border-radius: 50%;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
    border-radius: 50%;
}

@media (max-width: 999px) {
    .nav-list {
        position: absolute;
        top: 175px;
        right: 0;
        width: 100vw;
        height: 110vh;
        background: #141527;
        color: #eee;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateY(-1000%);
        transition: transform 0.3s ease-in;
        z-index: 1;
        
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

#box-whatsapp {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 90%;
    float: right;
    bottom: 100%;
    z-index: 9999;
}


.container-whatsap-02 {
    font-size: 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #53ED71;
    animation: redes-move 4s infinite;
}

@keyframes redes-move {
    50% {
        transform: translateY(10px);
    }
}
.btn {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    font-size: .8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #030A76;
    border-radius: 70px;
}

.btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s linear;

}
.header{
    width: 100%;
    padding-top:85px ;
    padding-bottom:85px;
}
.header-color-01{
background-color: #DCCCE6;
}
.header-color-02{
background-color: #eee;
}
.header-color-03{
background-color: #141527;
}
.header-color-04{
background-color: #010527;
}
.header-color-05{
background-color: #E9E5F3;
}
.header-color-06{
background-color: #e7e7e7;
}
.container-header-principal{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.container-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 65px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:90px;
    padding-bottom:90px;        
}
.container-header img {
    max-width: 418px;
}

.container-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 65px;
    flex-wrap: wrap;    
}


.container-descricao{
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.container-descricao .btn{
    margin-top: 20px;
}
.container-descricao h1{
    margin-bottom: 20px;
}

/*Nav*/
.container-nav {
    font-family: "open sans", "quicksand", "poppins", sans-serif;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid 1px #969696;
}

@media (max-width: 550px) {
    .container-nav {
        font-size: 14px;
    }
}

.para-voce {
    height: 50%;
    display: flex;
    margin-bottom: -26px;
    flex-direction: column;
    justify-content: space-between;

}

@media (max-width: 550px) {
    .para-voce {
        display: none !important;
    }
}

.bordar-titulo {
    background: #3100b8;
    border-radius: 35px;
    width: 100%;
    height: 3px;
    margin-bottom: -8px;
}
.container-nav-bar {
    font-family: "open sans", "quicksand", "poppins", sans-serif;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .container-nav-bar .btn {
        display: none !important;
    }
}

.container-nav-bar ul {
    display: flex;
    font-size: 14px;
}

.container-nav-bar ul li {
    margin: 5px;
}

.container-nav-bar ul li:hover {
    transform: scale(1.02);
    color: #585858;
}

.logo {
    width: 300px;
}
@media (max-width: 550px) {
.logo {
        width: 200px;
    }
}
.ligue-nos {
    border-left: solid 1px #030ea5;
    border-style: dotted;
    color: #030ea5;
}

.ligue-nos i {
    margin-left: 15px;
}
/*Nav*/


/*Banners*/
.banner {
    width: 100%;
    height: 550px;
}
.container-texto-banner-01{
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
position: absolute;
right: 20%;
bottom: 50%;
background-color: #0103368f;
border-radius: 15px;
padding: 15px;
margin: 5px;
}

@media (max-width: 828px) {
.container-texto-banner-01 {
    right: 25%;
    bottom: 5px;
    background-color: #0103368f;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
}
}
.texto-banner-02{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
.texto-banner-02 p:nth-child(1n) {
    font-size: 35px;
}
.texto-banner-02 p:nth-child(2n){
    font-size: 65px;
}


.banner-01 {
    position: relative;
    width: 100%;
    background: url(../img/img-18.png) no-repeat center center/cover;
}

.banner-01 img{
    position: absolute;
    left:12%;
    bottom: 0;
    object-fit: contain;
}

/*Banners*/

/*Inicio Planos*/
.planos {
    width: 300px;
    height: 594px;
    border: solid 1px #969696;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 20px 2em -25px rgb(0, 0, 0);
}

.planos a{
    padding: 15px;
}

.planos:hover {
    transform: scale(1.01);
    transition: transform 0.2s linear;
}

.fidelidade {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b80000;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    margin-top: 16%;

}

.plano-nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100%;
    text-align: center;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    background-image: linear-gradient(170deg, #030A76 0%, #FF0000 100%);
    font-weight: bold;
}

.plano-nome p:nth-child(1n) {
    color: #ffffff;
    font-size: 20px;
}

.plano-nome p:nth-child(2n) {
    color: #ffffff;
    font-size: 30px;
}

.check-container-principal {
    display: flex;
    flex-direction: column;
    margin: 11px 16px 0;
    text-align: justify;
}

.check-container {
    display: flex;
    margin-top: 5px;
}

.check-container p {
    margin-left: 5px;
}

.fa-circle-check {
    color: #777676;
}

.plano-descricao {
    margin: 25px;
}

.plano-valor {
    margin-bottom: 20px;
}

.plano-valor p:nth-child(1n) {
    font-family: "open sans", "quicksand", "poppins", sans-serif;
    font-size: 35px;
    color: #030A76;
    font-weight: bold;
}

.plano-valor p:nth-child(2n) {
    font-size: 15px;
    color: black;
    font-weight: normal;
}

/*Fim Planos*/


/*Card Serviços*/


.card-servico {
    width: 250px;
    height: 290px;
    background: #607D8B;
    border-radius: 15px;
    box-shadow: 0px 20px 2em -25px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #eee;
}

.card-servico:hover {
    transform: scale(1.02);
}

.icone-container-servico {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -21px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    background: #607D8B;
    z-index: 1;
}

.fundo-servico {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 50%;
}

#servico-01 {
    background: url(../img/img-12.png) no-repeat center center/cover;
}

#servico-02 {
    background: url(../img/img-13.png) no-repeat center center/cover;
}

#servico-03 {
    background: url(../img/img-15.png) no-repeat center center/cover;
}

.card-servico h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: "quicksand", "poppins", sans-serif;
}

.card-servico p {
    margin: 20px;
    font-size: 15px;
    color: #d7e8f8;
}
/*Card Serviços*/


/*Card Diferencial*/
.diferencial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 220px;
    text-align: center;
    background-color: #d8e3e3;
    border-radius: 3px;
}

.diferencial-container p:nth-child(1n) {
    color: #414449;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.diferencial-container p:nth-child(2n) {
    font-size: 14px;
    color: #61656B;
    font-weight: normal;
    margin: 25px;
}

.diferencial-container:hover p:nth-child(1n) {
    color: #eee;
}


.diferencial-container:hover:nth-child(1n) {
    background-color: #385ea5;
}

.diferencial-container:hover:nth-child(2n) {
    background-color: #a04242;
}

.diferencial-container:hover:nth-child(3n) {
    background-color: #1c8003;
}

.diferencial-container:hover:nth-child(4n) {
    background-color: #ac923c;
}

.diferencial-container:hover:nth-child(5n) {
    background-color: #00b8a9;
}

.diferencial-container:hover:nth-child(6n) {
    background-color: #7e00b8;
}

.diferencial-container:hover:nth-child(7n) {
    background-color: #00b88a;
}

.icone-container-difencial-01 {
    border: solid 2px #eee;
    background-color: #385ea5;
}

.icone-container-difencial-02 {
    border: solid 2px #eee;
    background-color: #a04242;
}

.icone-container-difencial-03 {
    border: solid 2px #eee;
    background-color: #1c8003;
}

.icone-container-difencial-04 {
    border: solid 2px #eee;
    background-color: #ac923c;
}

.icone-container-difencial-05 {
    border: solid 2px #eee;
    background-color: #00b8a9;
}

.icone-container-difencial-06 {
    border: solid 2px #eee;
    background-color: #7e00b8;
}

.icone-container-difencial-07 {
    border: solid 2px #eee;
    background-color: #00b88a;
}

.icone-container-difencial {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
}
/*Card Diferencial*/

/*testar-velocidade*/
#testar-velocidade img{
    max-width: 313px;
}
#testar-velocidade h1{
    color: #eee;
}
#testar-velocidade p{
    color: #c2c2c2;
}
/*testar-velocidade*/

/*Curiosidade*/
.container-curiosidade {
    position: relative;
    height: 244px;
    width: 245px;
}
.card-curiosidade {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
    color: #eee;
    text-transform: uppercase;
    font-family: "quicksand", "poppins", sans-serif;
}

.container-curiosidade:hover .card-curiosidade {
    transform: rotateY(180deg);
    box-shadow: 0px 20px 2em -25px rgb(0, 0, 0);
}

.card-frente {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-costas {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    transform: rotateY(180deg);
}

.card-costas h3 {
    font-size: 15px;
    text-align: center;
    margin: 10px;
}

.card-costas p {
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    background: #c5c5c544;
    text-transform: none !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    height: 75%;
    border-radius: 15px;
    top: 8px;
    color: #000;
    text-align: center;
}

#card-01 {
    background-color: #607D8B;
}

#card-02 {
    background-color: #64829194;
}

.card-img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#card-img-01 {
    background: url(../img/img-11.png) no-repeat center center/cover;
}

#card-img-02 {
    background: url(../img/img-10.png) no-repeat center center/cover;
}

#card-img-03 {
    background: url(../img/img-09.png) no-repeat center center/cover;
}

.icone-container-curiosidade {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    background: #e7e7e7;
    z-index: 1;
}

.icone-container-curiosidade i {
    color: #000;
}

.card-curiosidade p {
    position: relative;
    bottom: -28px;
    font-weight: bold;
    letter-spacing: 8px;
}
/*Curiosidade*/
/*Sobre-nos*/
#sobre-nos img {
    width: 400px;
}
#sobre-nos h1{
    color: #e9e8e8;
    text-transform: uppercase;
    font-weight: bold;
}
#sobre-nos h2{
    color: #f1f1f1;
    margin-bottom: 5px;
}
#sobre-nos p{
    color: #c2c2c2;
    margin-bottom: 5px;
}

#sobre-nos {
    color: #d7e8f8;
    background: url(../img/img-14.png) no-repeat center center/cover;
    background-color: #000000be;
    background-blend-mode: color;
}

#sobre-nos .container-header{
    justify-content: flex-start;
}

/*Sobre-nos*/


/*rodape*/
#rodape{
    color: #eee;
}
.container-rodape-menu{
    display: flex;
    flex-direction: row;
    gap: 65px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#rodape-menu a:hover,
#contatos a:hover {
    color: #979797;
}


.rodape-logo img {
    width: 250px;
    margin-bottom: 50px;
}

.rodape-logo .btn {
    background-color: #eee;
    color: #000;
}

@media (max-width: 550px) {
    #rodape .container-header {
        justify-content: flex-start;
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #eee;
    background-color: #010527;
    border-top: solid 0.5px rgb(156, 156, 156);
}
/*rodape*/