.faq-container{
height: 750px;
display: flex;
flex-direction: column;
margin: auto;
width: 80%;
}

.faq-container h1{
    margin-bottom: 55px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-family: "open sans", "quicksand", "poppins", sans-serif;
}

.pergunta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 15px;
    color: black;
    border-bottom: solid 1.5px rgb(99, 99, 99);
    
}

.pergunta h3{
    margin-bottom: 5px;
}

.resposta{
    max-width: 0px;
    overflow: hidden;
    opacity: 0;   
    transform: scaleY(1);
    color: #4e4e4e;
}

.ativar{
    max-width: 300px;
    opacity: 1;
}

.fechar i{
    transform: rotate(180deg);
}